:root {
    /* Component background colors */
    --background-light: #ffffff;
    --background-secondary-light: #f2f2f2;

    /* Component text colors */
    --text-primary: #49454f;
    --text-secondary: #79747e;
    --text-tertiary: #938f99;
    --text-accent: #589ddd;

    /* Semantic colors */
    --color-success: #3ca133;
    --color-failure: #e30202;
    --color-disabled: #919191;

    --color-interactive: #1e84de;
    --color-interactive-light: #ebf6ff;
    --color-interactive-transparent: #d8edff80;
    --color-interactive-border: #c0dcff;

    /* Tooltip colors */
    --tooltip-gray: #4c4c4c;

    /* Icon colors */
    --icon-hover-gray: #efefef;
    --icon-hover-gray-secondary: #dfdee2; /* Darker hover */

    /* Border colors */
    --border-gray: #e2e2e2;
    --border-gray-secondary: #cac4d0; /* Darker borders */

    /* Diff-view colors */
    --diff-omit-bg-color: #f9f9f9;
    --diff-decoration-bg-color: #e2f4ff;
    --diff-code-delete-bg-color: #fdeff0;
    --diff-code-insert-bg-color: #eaffee;
    --diff-code-highlight-bg-color: #fffdd5;

    --diff-gutter-font-color: #5e5e5e;
    --diff-gutter-delete-bg-color: #fadde0;
    --diff-gutter-delete-border-color: #eca7a7;
    --diff-gutter-insert-bg-color: #d6fedb;
    --diff-gutter-insert-border-color: #93de7a;
    --diff-gutter-highlight-bg-color: #fffbac;
    --diff-gutter-highlight-border-color: #ffea48;

    /* Diff state colors */
    --state-draft: #989898;
    --state-open: var(--color-success);
    --state-closed: var(--color-failure);
    --state-merged: #9F81d7;

    /* Diff status RGB values */
    /* Use RBG for customizable alpha in RGBA, used for transparent chip backgrounds */
    --status-ready-rgb: 60, 161, 51;
    --status-waiting-rgb: 12, 162, 227;
    --status-conflict-rgb: 255, 158, 2;
    --status-failure-rgb: 227, 2, 2;

    --status-ready: rgb(var(--status-ready-rgb));
    --status-waiting: rgb(var(--status-waiting-rgb));
    --status-conflict: rgb(var(--status-conflict-rgb));
    --status-failure: rgb(var(--status-failure-rgb));

    --file-status-added-rgb: 63, 184, 63;
    --file-status-modified-rgb: 128, 128, 128;
    --file-status-removed-rgb: 239, 79, 79;
    --file-status-renamed-rgb: 255, 165, 0;
    --file-status-fallback-rgb: 63, 170, 224;

    --file-status-added: rgb(var(--file-status-added-rgb));
    --file-status-modified: rgb(var(--file-status-modified-rgb));
    --file-status-removed: rgb(var(--file-status-removed-rgb));
    --file-status-renamed: rgb(var(--file-status-renamed-rgb));
    --file-status-fallback: rgb(var(--file-status-fallback-rgb));

    --box-shadow-rgba: 150, 136, 136, 0.10;
    --box-shadow: 0 2px 2px 0 rgba(var(--box-shadow-rgba));
    --box-shadow-soft: 0 2px 4px rgba(var(--box-shadow-rgba)); /* Larger blur radius */
    --box-shadow-button: 0 2px 4px rgba(181, 179, 179, 0.5);
    --box-shadow-popover: 0 4px 12px rgba(0, 0, 0, 0.1);
}
