:root {
  --background: #ffffff;
  --foreground: #171717;

  color: var(--text-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}

/*
  Monaco editor styling can be difficult to work with, and especially to overwrite
  it seems like in order for monaco to find the styling overrides, they need to be in our global css file
*/

/*
  This is the override for the read only dim region
*/
.monaco-editor .view-overlays .readOnlyBackgroundDim.readOnlyBackgroundDim {
  background-color: rgba(128, 128, 128, 0.2) !important;
}

/*
  This is the override for the modified suggestion code (right side)
*/
.monaco-editor .view-overlays .modifiedBlockBg.modifiedBlockBg {
  background-color: rgba(46, 160, 67, 0.12) !important;
}

.monaco-editor .view-overlays .modifiedBlockTop.modifiedBlockTop {
  border-top: 4px solid rgba(46, 160, 67, 1) !important;
}

.monaco-editor .view-overlays .modifiedBlockBottom.modifiedBlockBottom {
  border-bottom: 4px solid rgba(46, 160, 67, 1) !important;
}

/*
  This is the override for the original code to be deleted (left side)
*/
.monaco-editor .view-overlays .originalBlockBg.originalBlockBg {
  background-color: rgba(248, 81, 73, 0.12) !important;
}

.monaco-editor .view-overlays .originalBlockTop.originalBlockTop {
  border-top: 4px solid rgba(248, 81, 73, 1) !important;
}

.monaco-editor .view-overlays .originalBlockBottom.originalBlockBottom {
  border-bottom: 4px solid rgba(248, 81, 73, 1) !important;
}
