:root {
    --spacer-1: 1px;
    --spacer-2: 2px;
    --spacer-4: 4px;
    --spacer-6: 6px;
    --spacer-8: 8px;
    --spacer-10: 10px;
    --spacer-12: 12px;
    --spacer-16: 16px;
    --spacer-20: 20px;
    --spacer-24: 24px;
    --spacer-32: 32px;
    --spacer-48: 48px;
    --spacer-80: 80px;

    --border-thin-width: 0.5px;
    --border-normal-width: 1px;
    --border-thick-width: 2px;
    --border-radius: 4px;

    --pr-view-body-header-height: 120px;
    --page-header-height: 52px;
    --file-diff-header-height: 40px;
    --file-tree-search-bar-height: 57px;
    --thread-scroll-margin-top: calc(var(--file-diff-header-height) * 2.6);

    --landing-page-header-height: 100px;
    --landing-page-footer-height: 130px;
    --landing-page-padding: 140px;
}
