.container {
    /* Docs: https://stackoverflow.com/questions/66876410/how-to-make-sticky-element-scrollable */
    max-height: calc(100vh - var(--page-header-height));
    position: sticky;
    top: var(--page-header-height);

    min-width: 300px;
    width: 300px;
    max-width: 600px;
    flex: none;

    padding-right: var(--spacer-8);
    border-right: var(--border-thick-width) solid var(--border-gray);
    font-size: 0.875rem;
    transition: border-color 0.1s ease-in-out;
}

.container.resizing,
.container.hovered {
    border-right: var(--border-thick-width) solid var(--color-interactive);
    cursor: ew-resize;
}

.tree {
    padding: var(--spacer-10) var(--spacer-8) var(--spacer-10) 0;
    max-height: calc(100vh - var(--page-header-height));
    overflow: auto;
}

.searchContainer {
    margin-right: var(--spacer-8);
    padding: var(--spacer-12) 0;
}

.searchInput {
    width: 100%;
    padding: var(--spacer-10) var(--spacer-16);
    border-radius: 32px;
    border: none;
    outline: none;
    background-color: var(--background-secondary-light);
    font-size: 0.875rem;
    color: var(--text-primary);
}
