.PRHeader {
    position: sticky;
    top: 0;
    z-index: 100;

    background-color: var(--background-light);
    padding: var(--spacer-12) var(--spacer-48);

    display: flex;
    justify-content: flex-end;
    gap: var(--spacer-12);
    /* box-shadow: var(--box-shadow); */
}