.popoverContainer {
    z-index: 1000;
    margin-top: 20px;
    padding-right: var(--spacer-48);
    font-size: 0.875rem;
}

.popoverButtonEnabled button {
    outline: var(--border-thick-width) solid var(--color-interactive);
    border-color: transparent;
}
