.container {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-8);
    max-width: 400px;
    max-height: 425px;
    overflow-y: scroll;
}

.title {
    display: flex;
    align-items: center;
    gap: var(--spacer-4);
    font-weight: 600;
}

.count {
    border-radius: var(--spacer-12);
    padding: var(--spacer-2) var(--spacer-6);
    background-color: var(--background-secondary-light);
    color: var(--text-secondary);
    font-size: 0.75rem;
}

.option {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    gap: var(--spacer-8);
    border-top: var(--border-normal-width) solid var(--border-gray);
    padding: var(--spacer-8);
}

.radio {
    cursor: pointer;
    margin-top: var(--spacer-1);
}

.info {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-4);
    overflow: hidden;
}

.message {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
}

.meta {
    display: flex;
    align-items: center;
    gap: var(--spacer-8);
    font-size: 0.6875rem;
    color: var(--text-secondary);
}

.sha {
    border-radius: var(--spacer-2);
    padding: 0 var(--spacer-4);
    background-color: var(--background-secondary-light);
    font-family: var(--font-roboto-mono);
}
