.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-12);

    width: 360px;
    min-height: 250px;
    max-height: 350px;
}

.form> :first-child {
    flex: 1;
    overflow-y: scroll;
}

.reviewTypeLabel {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.submit {
    align-self: flex-end;
}
