.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    padding: var(--spacer-12) var(--spacer-12)
}

.monaco-editor,
.monaco-editor * {
    font-family: "Consolas", "Courier New", monospace !important;
}