.panelWrapper {
    display: flex;
    flex-direction: column;

    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    position: sticky;
    top: 0;
    /* TODO: Make activity panel resizable. */
    width: 350px;
    border-left: var(--border-normal-width) solid var(--border-gray);

    background-color: var(--background-light);
    font-size: var(--font-size-diff-code);
    transition: width 0.3s ease-in;
}

.panelWrapperClosed {
    width: 0;
}

.panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 350px;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: var(--spacer-16);

    position: sticky;
    top: 0;
    z-index: 10;

    border-bottom: var(--border-normal-width) solid var(--border-gray);
    padding: var(--spacer-12) var(--spacer-16);
    padding-bottom: 0;
    background-color: var(--background-light);
    font-size: 0.9375rem;
}

.tabs {
    display: flex;
    flex: 1;
}

.tab {
    display: flex;
    justify-content: center;
    flex: 1;

    padding-bottom: var(--spacer-10);
    border-bottom: var(--border-thick-width) solid transparent;

    cursor: pointer;
    color: var(--text-secondary);
    font-weight: 450;
}

.activeTab {
    color: var(--color-interactive);
    border-color: var(--color-interactive);
    font-weight: 500;
}

.close {
    margin-top: var(--spacer-2);
}

.threads {
    padding: var(--spacer-16);
}

.thread:not(:last-child) {
    margin-bottom: var(--spacer-16);
}

.emptyCommentsMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacer-8);
    flex: 1;
    font-size: 1rem;
    font-weight: 600;
}
