.panel {
    max-height: 100vh;
    overflow-y: auto;

    position: sticky;
    top: 0;

    /* TODO: Make activity panel resizable. */
    min-width: 350px;
    width: 350px;

    border-left: var(--border-normal-width) solid var(--border-gray);
    font-size: var(--font-size-diff-code);
}

.tabs {
    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 10;

    border-bottom: var(--border-normal-width) solid var(--border-gray);
    background-color: var(--background-light);
}

.tab:not(:last-child) {
    border-right: var(--border-normal-width) solid var(--border-gray);
}

.tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--spacer-10) var(--spacer-16);
    font-weight: 450;
    cursor: pointer;
}

.threads {
    padding: var(--spacer-16);
}

.thread:not(:last-child) {
    margin-bottom: var(--spacer-16);
}
