.pullBodyHeader {
  flex: 2;
  height: var(--pr-view-body-header-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.titleLeft {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-16);
}

.titleIdentifierHeaders {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-8);
}

.repoName {
  font-size: 1.375rem;
  font-weight: 400;
  color: var(--text-tertiary);
}

.pullTitle {
  font-weight: 500;
}

.pullNumber {
  font-weight: 400;
  color: var(--text-tertiary);
}

.titleLeftInfo {
  display: flex;
  align-items: center;
  gap: var(--spacer-16);
}

.userInfo {
  display: flex;
  align-items: center;
  gap: var(--spacer-8);
}

.user {
  font-weight: 500;
}

.titleAndNum {
  display: flex;
}

.titleRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: var(--spacer-8);
}

.updated {
  color: var(--text-tertiary);
}

.changesInfo {
  display: flex;
  gap: var(--spacer-8);
  font-weight: 500;
}

.additions {
  color: var(--color-success);
}

.deletions {
  color: var(--color-failure);
}
