.searchPullTitleWrapper {
  position: relative;
  display: flex;
}

.searchPullTitle {
  flex: 1;
  padding: var(--spacer-10) var(--spacer-16);
  border-radius: 32px;
  border: var(--border-normal-width) solid var(--border-gray-secondary);
}

.searchButtons {
  position: absolute;
  right: var(--spacer-10);
  height: 100%;
  display: flex;
  align-items: center;
  gap: var(--spacer-4);
}

.searchButtons button {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.searchButtonsDivider {
  height: 20px;
  border-left: var(--border-normal-width) solid var(--border-gray-secondary);
}