.comment {
  display: flex;
  align-items: flex-start;
  gap: var(--spacer-8);
}

.userIconBackground {
  padding: var(--spacer-4) 0;
  background-color: var(--background-light);
}

.commentContent {
  flex: 1;
  padding: var(--spacer-4);

  display: flex;
  flex-direction: column;
  gap: var(--spacer-8);
}

.usernameAndDate {
  display: flex;
  align-items: center;
  gap: var(--spacer-8);
}

.username {
  font-weight: 500;
  font-size: 1rem;
}

.date {
  color: var(--text-tertiary);
  font-size: 0.9375rem; /* 1px smaller than username. Using rem here for accessibility*/
}

[data-view="activity-panel"] .date {
  font-size: 0.75rem  !important;
}
