.comment {
  display: flex;
  align-items: flex-start;
  gap: var(--spacer-8);
}

.tempUserIconBackground {
  padding: var(--spacer-4) 0;
  background-color: var(--background-light);
}

.tempUserIcon {
  height: 25px;
  width: 25px;
  background-color: var(--state-draft);
  border-radius: 32px;
  position: relative;
}

.commentContent {
  flex: 1;
  padding: var(--spacer-4);

  display: flex;
  flex-direction: column;
  gap: var(--spacer-8);
}

.usernameAndDate {
  display: flex;
  align-items: center;
  gap: var(--spacer-8);
}

.username {
  font-weight: 500;
  font-size: 1rem;
}

.date {
  color: var(--text-tertiary);
  font-size: 0.9375rem; /* 1px smaller than username. Using rem here for accessibility*/
}
