.btnLink {
  text-decoration: none;
}

.btn {
  height: 50px;
  padding: 0 var(--spacer-16);
  background-color: var(--text-primary);
  color: var(--background-light);
  font-size: 1.125rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  box-shadow: var(--box-shadow-button);

  display: flex;
  align-items: center;
  gap: var(--spacer-12);
  cursor: pointer;
}
