.container {
    min-height: 600px;
}

.currentStrong {
    background: #84c899b2;
}

.current {
    background: #84c89954;
}

.incoming {
    background: #bdc4e854;
}

.incomingStrong {
    background: #bdc4e8b2;
}

.viewZone {
    padding: 8px;
}

.conflictWidget {
    display: flex !important;
    width: 400px;
    font-size: 12px;
    gap: 10px;
}

.conflictWidgetButton {
    text-decoration: underline;
    cursor: pointer;
}
