.searchContainer {
    padding: var(--spacer-12) 0;
    margin-right: var(--spacer-8);
}

.searchInputWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.searchInput {
    width: 100%;
    padding: var(--spacer-8) 36px;
    border: none;
    border-radius: var(--spacer-24);
    background-color: var(--background-secondary-light);
    font-size: 0.875rem;
    color: var(--text-primary);
}

.searchMagnifierIcon {
    position: absolute;
    left: var(--spacer-10);
}

.searchCancelIcon {
    position: absolute;
    right: var(--spacer-10);
    border: none;
    margin-top: var(--spacer-2);
    background-color: inherit;
    cursor: pointer;
}
