/* [project]/app/(pages)/_components/Divider/Divider.module.css [app-client] (css) */
.Divider-module__9RZZQq__divider {
  border: none;
  border-top: 1px solid var(--border-gray-secondary);
}

/* [project]/app/(pages)/[username]/[repo_name]/pull/[id]/_components/PRViewComment/PRViewComment.module.css [app-client] (css) */
.PRViewComment-module__rRvf5G__comment {
  gap: var(--spacer-8);
  display: flex;
}

.PRViewComment-module__rRvf5G__tempUserIcon {
  background-color: var(--state-draft);
  border-radius: 32px;
  width: 25px;
  height: 25px;
  position: relative;
}

.PRViewComment-module__rRvf5G__commentContent {
  padding: var(--spacer-4);
  gap: var(--spacer-8);
  flex-direction: column;
  display: flex;
}

.PRViewComment-module__rRvf5G__usernameAndDate {
  align-items: center;
  gap: var(--spacer-8);
  display: flex;
}

.PRViewComment-module__rRvf5G__username {
  font-size: 1rem;
  font-weight: 500;
}

.PRViewComment-module__rRvf5G__date {
  color: var(--text-tertiary);
  font-size: .9375rem;
}

/* [project]/app/(pages)/[username]/[repo_name]/pull/[id]/_components/PullBodyDescription/PullBodyDescription.module.css [app-client] (css) */
.PullBodyDescription-module__fH6tyW__pullBodyDescription {
  gap: var(--spacer-12);
  flex-direction: column;
  display: flex;
}

/* [next]/internal/font/google/roboto_mono_22f43ae5.module.css [app-client] (css) */
@font-face {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url("../media/4a439e1ba971da1a-s.f6f6239b.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url("../media/b3b0afff8ab38d95-s.542be403.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url("../media/b12ef0642bbc5f5f-s.b2fd768f.woff2") format("woff2");
  unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}

@font-face {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url("../media/83a6e70a3a81dd9f-s.cd5d2b7b.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url("../media/99ac5753282bcf05-s.82772c94.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url("../media/2f13ad8e538108e0-s.p.9b936cf7.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Roboto Mono Fallback;
  src: local(Arial);
  ascent-override: 77.84%;
  descent-override: 20.13%;
  line-gap-override: 0.0%;
  size-adjust: 134.61%;
}

.roboto_mono_22f43ae5-module___fGTMG__className {
  font-family: Roboto Mono, Roboto Mono Fallback;
  font-style: normal;
}

.roboto_mono_22f43ae5-module___fGTMG__variable {
  --font-roboto-mono: "Roboto Mono", "Roboto Mono Fallback";
}

/* [project]/app/(pages)/[username]/[repo_name]/pull/[id]/_components/PullBodyHeader/PullBodyHeader.module.css [app-client] (css) */
.PullBodyHeader-module__AQD8Da__pullBodyHeader {
  height: var(--pr-view-body-header-height);
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.PullBodyHeader-module__AQD8Da__titleLeft {
  gap: var(--spacer-16);
  flex-direction: column;
  display: flex;
}

.PullBodyHeader-module__AQD8Da__titleIdentifierHeaders {
  gap: var(--spacer-8);
  flex-direction: column;
  display: flex;
}

.PullBodyHeader-module__AQD8Da__repoName {
  color: var(--text-tertiary);
  font-size: 1.375rem;
  font-weight: 400;
}

.PullBodyHeader-module__AQD8Da__pullTitle {
  font-weight: 500;
}

.PullBodyHeader-module__AQD8Da__pullNumber {
  color: var(--text-tertiary);
  font-weight: 400;
}

.PullBodyHeader-module__AQD8Da__titleLeftInfo {
  align-items: center;
  gap: var(--spacer-16);
  display: flex;
}

.PullBodyHeader-module__AQD8Da__userInfo {
  align-items: center;
  gap: var(--spacer-8);
  display: flex;
}

.PullBodyHeader-module__AQD8Da__tempUserIcon {
  background-color: var(--state-draft);
  border-radius: 32px;
  width: 32px;
  height: 32px;
  position: relative;
}

.PullBodyHeader-module__AQD8Da__user {
  font-weight: 500;
}

.PullBodyHeader-module__AQD8Da__branchDisplay {
  align-items: center;
  gap: var(--spacer-4);
  display: flex;
}

.PullBodyHeader-module__AQD8Da__branchChip {
  padding: var(--spacer-4) var(--spacer-8);
  background-color: var(--background-secondary-light);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.PullBodyHeader-module__AQD8Da__branchName {
  font-family: var(--font-roboto-mono);
  font-size: .875rem;
}

.PullBodyHeader-module__AQD8Da__titleAndNum {
  display: flex;
}

.PullBodyHeader-module__AQD8Da__titleRight {
  justify-content: flex-end;
  align-items: flex-end;
  gap: var(--spacer-8);
  flex-direction: column;
  display: flex;
}

.PullBodyHeader-module__AQD8Da__updated {
  color: var(--text-tertiary);
}

.PullBodyHeader-module__AQD8Da__changesInfo {
  gap: var(--spacer-8);
  font-weight: 500;
  display: flex;
}

.PullBodyHeader-module__AQD8Da__additions {
  color: var(--color-success);
}

.PullBodyHeader-module__AQD8Da__deletions {
  color: var(--color-failure);
}

/* [project]/app/(pages)/[username]/[repo_name]/pull/[id]/_components/StateChip/StateChip.module.css [app-client] (css) */
.StateChip-module__LjLH9W__stateChip {
  height: 32px;
  color: var(--background-light);
  align-items: center;
  gap: var(--spacer-4);
  border-radius: 16px;
  padding: 12px;
  font-size: .875rem;
  display: flex;
}

.StateChip-module__LjLH9W__draft {
  background-color: var(--state-draft);
}

.StateChip-module__LjLH9W__open {
  background-color: var(--state-open);
}

.StateChip-module__LjLH9W__closed {
  background-color: var(--state-closed);
}

.StateChip-module__LjLH9W__merged {
  background-color: var(--state-merged);
}

/* [project]/app/(pages)/[username]/[repo_name]/pull/[id]/page.module.css [app-client] (css) */
.page-module__hVkq9a__page {
  flex-direction: column;
  min-height: 100vh;
  display: flex;
}

.page-module__hVkq9a__pageBody {
  align-items: stretch;
  gap: var(--spacer-80);
  padding: var(--spacer-24) var(--spacer-48);
  flex-direction: row;
  display: flex;
}

.page-module__hVkq9a__bodyMain {
  gap: var(--spacer-24);
  flex-direction: column;
  flex: 2;
  display: flex;
}

.page-module__hVkq9a__infoColumn {
  gap: var(--spacer-24);
  flex-direction: column;
  flex: 1;
  max-width: 350px;
  display: flex;
}

/* [project]/app/(pages)/[username]/[repo_name]/pull/[id]/_components/StatusFlagChip/StatusFlagChip.module.css [app-client] (css) */
.StatusFlagChip-module__8oRMna__statusFlagChip {
  height: 32px;
  color: var(--background-light);
  align-items: center;
  gap: var(--spacer-4);
  border-radius: 12px;
  padding: 12px;
  font-size: .875rem;
  display: flex;
}

.StatusFlagChip-module__8oRMna__ready {
  border: 1px solid var(--status-ready);
  background-color: rgba(var(--status-ready-rgb), .72);
}

.StatusFlagChip-module__8oRMna__waiting {
  border: 1px solid var(--status-waiting);
  background-color: rgba(var(--status-waiting-rgb), .72);
}

.StatusFlagChip-module__8oRMna__conflict {
  border: 1px solid var(--status-conflict);
  background: rgba(var(--status-conflict-rgb), .72);
}

.StatusFlagChip-module__8oRMna__failure {
  border: 1px solid var(--status-failure);
  background-color: rgba(var(--status-failure-rgb), .72);
}

/* [project]/app/(pages)/[username]/[repo_name]/pull/[id]/_components/StatusSection/StatusSection.module.css [app-client] (css) */
.StatusSection-module__pGit5a__statusSection {
  height: var(--pr-view-body-header-height);
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
}

.StatusSection-module__pGit5a__statusList {
  gap: var(--spacer-8);
  row-gap: var(--spacer-8);
  flex-wrap: wrap;
  display: flex;
}

/* [project]/app/(pages)/[username]/[repo_name]/pull/[id]/_components/UserLister/UserLister.module.css [app-client] (css) */
.UserLister-module__Ar5Wkq__userLister {
  gap: var(--spacer-12);
  flex-direction: column;
  display: flex;
}

.UserLister-module__Ar5Wkq__headerRow {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.UserLister-module__Ar5Wkq__plusIcon {
  cursor: pointer;
}

.UserLister-module__Ar5Wkq__userListerRow {
  align-items: center;
  gap: var(--spacer-16);
  display: flex;
}

.UserLister-module__Ar5Wkq__username {
  font-size: 1rem;
  font-weight: 500;
}

/* [project]/app/(pages)/[username]/[repo_name]/pull/[id]/_components/CISectionCollapsible/CISectionCollapsible.module.css [app-client] (css) */
.CISectionCollapsible-module__K6xdVq__CISectionCollapsible {
  flex-direction: column;
  display: flex;
}

.CISectionCollapsible-module__K6xdVq__CISectionTop {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.CISectionCollapsible-module__K6xdVq__info {
  align-items: center;
  gap: var(--spacer-8);
  display: flex;
}

.CISectionCollapsible-module__K6xdVq__collapsibleHeader {
  font-size: 1rem;
  font-weight: 400;
}

.CISectionCollapsible-module__K6xdVq__chevronButton {
  cursor: pointer;
  background: none;
  border: none;
}

.CISectionCollapsible-module__K6xdVq__chevron {
  transition: transform .2s ease-in-out;
}

.CISectionCollapsible-module__K6xdVq__closedChevron {
  transform: rotate(180deg);
}

/* [project]/app/(pages)/[username]/[repo_name]/pull/[id]/_components/CISection/CISection.module.css [app-client] (css) */
.CISection-module__1aobPa__CISection {
  gap: var(--spacer-8);
  flex-direction: column;
  display: flex;
}

/* [project]/app/(pages)/_components/HeaderButton/HeaderButton.module.css [app-client] (css) */
.HeaderButton-module__iVzj6W__headerButton {
  cursor: pointer;
  color: var(--text-primary);
  border-radius: 100px;
  padding: 10px 16px;
  text-decoration: none;
}

.HeaderButton-module__iVzj6W__secondary {
  border: 1px solid var(--border-gray-secondary);
  background: none;
}

.HeaderButton-module__iVzj6W__primary {
  background-color: var(--color-success);
  color: var(--background-light);
  border: none;
}

/* [project]/app/(pages)/[username]/[repo_name]/pull/[id]/_components/PRHeader/PRHeader.module.css [app-client] (css) */
.PRHeader-module__mgwlsa__PRHeader {
  z-index: 100;
  background-color: var(--background-light);
  padding: var(--spacer-12) var(--spacer-48);
  justify-content: flex-end;
  gap: var(--spacer-12);
  display: flex;
  position: sticky;
  top: 0;
}

.PRHeader-module__mgwlsa__shadow {
  box-shadow: var(--box-shadow);
}

/* [project]/app/(pages)/[username]/[repo_name]/pull/[id]/_components/DiscussionBox/DiscussionBox.module.css [app-client] (css) */
.DiscussionBox-module__VeQg0q__discussionBox {
  resize: vertical;
  width: 100%;
  min-height: 80px;
  padding: var(--spacer-12) var(--spacer-16);
  border: 1px solid var(--border-gray-secondary);
  color: var(--text-primary);
  border-radius: 8px;
  font-size: 1rem;
}

.DiscussionBox-module__VeQg0q__discussionBox::placeholder {
  color: var(--text-secondary);
}

/* [project]/app/(pages)/[username]/[repo_name]/pull/[id]/_components/TimelineDisplay/TimelineDisplay.module.css [app-client] (css) */
.TimelineDisplay-module__FGPx7a__timeline {
  gap: var(--spacer-16);
  flex-direction: column;
  display: flex;
}

.TimelineDisplay-module__FGPx7a__eventSmall {
  gap: var(--spacer-24);
  display: flex;
}

.TimelineDisplay-module__FGPx7a__timelineIcon {
  width: 20px;
  height: 20px;
}

/* [project]/app/(pages)/[username]/[repo_name]/pull/[id]/_components/PRViewTimeline/PRViewTimeline.module.css [app-client] (css) */
.PRViewTimeline-module__1Pc7sq__timeline {
  gap: var(--spacer-24);
  flex-direction: column;
  display: flex;
}

/*# sourceMappingURL=%5Broot-of-the-server%5D__2b28cf8b._.css.map*/