.timeline {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-16);
}

.beforeCloseTimeline {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-16);
  position: relative;
}

.timelineLineBackground {
  position: absolute;
  margin-left: var(--spacer-12);
  border-left: 1px solid var(--border-gray-secondary);
  z-index: -1;
  top: 0;
  height: 100%;
  width: 100%;
}

.eventSmall {
  display: flex;
  align-items: center;
  min-width: 0;
  gap: var(--spacer-12);
  color: var(--text-secondary);
}

.userLink {
  color: var(--text-primary);
  text-decoration: none;
  font-weight: 500;
}

.userLink:hover {
  text-decoration: underline;
}

.timelineIcon {
  margin-left: 2.5px;
  width: 20px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-light);
}

.timelineIconPadded {
  padding-top: var(--spacer-4);
  padding-bottom: var(--spacer-4);
}

.timelineCommit {
  min-width: 0;
  margin-top: 3px;
  display: flex;
  gap: var(--spacer-12);
}

.expandableCommitText {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  display: flex;
  gap: var(--spacer-4);
}

.commitMessage {
  flex: 1;
  min-width: 0;
}

.expandButton {
  border: none;
  background: var(--background-secondary-light);
  cursor: pointer;
  height: 1rem;
}

.commitSha {
  color: var(--text-accent);
  font-weight: 700;
  text-decoration: none;
}

.commitSha:hover {
  text-decoration: underline;
}
