.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-12);

    width: 360px;
    min-height: 360px;
    max-height: 360px;
}

.form[data-method="rebase"] {
    min-height: auto;
    max-height: auto;
}

.section {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-8);
}

.section:has(textarea[name="commit-description"]),
.section textarea[name="commit-description"] {
    resize: none;
    flex: 1;
}

.title {
    font-weight: 500;
}

.submit {
    align-self: flex-end;
}
