.banner {
    padding: var(--spacer-16) var(--spacer-20);
    border: var(--border-thin-width) solid var(--color-warning);
    border-left-width: var(--spacer-4);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    box-shadow: var(--box-shadow-soft);
    background-color: var(--color-warning-light);
    font-size: var(--font-size-label);
}
