.banner {
    display: flex;
    gap: var(--spacer-12);
    align-items: start;
    padding: var(--spacer-16) var(--spacer-20);
    border: var(--border-thin-width) solid;
    border-left-width: var(--spacer-4);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    box-shadow: var(--box-shadow-soft);
    font-size: var(--font-size-label);
}

.warning {
    border-color: var(--color-warning);
    background-color: var(--color-warning-light);
    color: var(--text-secondary);
}

.error {
    border-color: var(--color-failure);
    background-color: var(--color-failure-light);
    color: var(--text-primary);
}
