.thread {
    border: var(--border-normal-width) solid var(--border-gray);
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow-soft);
    scroll-margin-top: calc(var(--file-diff-header-height) * 2.6);
}

.thread:target {
    outline: var(--border-thick-width) solid var(--color-interactive);
}

.comments {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-12);
    padding: var(--spacer-12);
}
