.banner {
    display: flex;
    align-items: center;
    gap: var(--spacer-8);

    padding: var(--spacer-10) var(--spacer-12);
    border: var(--border-normal-width) solid var(--color-warning);
    border-radius: var(--border-radius);

    box-shadow: var(--box-shadow-soft);
    background-color: var(--color-warning-light);
    font-size: var(--font-size-label);
    font-weight: 450;
}
