.userLister {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-12);
}

.headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plusIcon {
    cursor: pointer;
}

.userListerRow {
    display: flex;
    align-items: center;
    gap: var(--spacer-16);
}

.username {
    font-size: 1rem;
    font-weight: 500;
}
