.headerWithPanel {
    padding-right: var(--spacer-16);
}

.pullTitle {
    font-size: 1rem;
    font-weight: 500;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pullNumber {
    font-weight: 400;
    color: var(--text-tertiary);
}

.branchDisplay {
    min-width: 0;
}

.branchDisplay p {
    font-size: 0.75rem;
}

.branchDisplay * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.activityButtonEnabled button {
    outline: var(--border-thick-width) solid var(--color-interactive);
    border-color: transparent;
}

.activityIcon {
    display: flex;
}

.leftChildren {
    display: flex;
    align-items: center;
    gap: var(--spacer-12);
    min-width: 0;
}
