.container {
    display: flex;
    align-items: center;
    gap: var(--spacer-12);
}

.avatar {
    height: 22px;
    width: 22px;
    min-width: 22px;
    border-radius: 32px;
    position: relative;
    overflow: hidden;
}

.trigger {
    cursor: pointer;
    border: none;
    font-size: var(--font-size-diff-code);
    color: var(--text-secondary);
    background-color: var(--background-light);
}
