.reviewPopoverContainer {
    z-index: 1000;
    margin-top: 20px;
    padding-right: var(--spacer-48);
    font-size: 0.875rem;
}

.reviewPopoverContent {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-12);

    width: 350px;
    min-height: 200px;

    padding: var(--spacer-12);
    border: var(--border-normal-width) solid var(--border-gray-secondary);
    border-radius: 8px;

    background-color: var(--background-light);
    box-shadow: var(--box-shadow-popover);
}

.reviewPopoverContent > :first-child {
    flex: 1;
}

.reviewButtonEnabled button {
    outline: var(--border-thick-width) solid var(--color-interactive);
    border-color: transparent;
}

.reviewTypes {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-8);
}

.reviewTypes label {
    display: flex;
    align-items: center;
    gap: var(--spacer-8);
}

.submitReviewButton {
    cursor: pointer;
    align-self: flex-end;
    border: none;
    border-radius: var(--border-radius);
    padding: var(--spacer-6) var(--spacer-12);
    box-shadow: var(--box-shadow-dark);
    font-size: 0.875rem;
    background-color: var(--color-interactive);
    color: var(--background-light);
}
