.container {
    /* Docs: https://stackoverflow.com/questions/66876410/how-to-make-sticky-element-scrollable */
    max-height: calc(100vh - var(--page-header-height));
    position: sticky;
    top: var(--page-header-height);
    z-index: 20;

    overflow-x: hidden;
    width: 300px;
    max-width: 600px;
    flex: none;

    border-right: var(--border-thick-width) solid var(--border-gray);
    font-size: 0.875rem;
    transition: border-color 0.1s ease-in-out;
}

.container.resizing,
.container.hovered {
    border-right: var(--border-thick-width) solid var(--color-interactive);
    cursor: ew-resize;
}

.tree {
    padding: 0 var(--spacer-16) var(--spacer-10) 0;
    max-height: calc(100vh - var(--page-header-height) - var(--file-tree-search-bar-height));
    overflow: auto;
}
