.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageBody {
  display: flex;
}

.bodyMain {
  flex: 1;
  min-width: 0;
}

.changes {
  display: flex;
  gap: var(--spacer-16);
  flex: 1;
  margin: 0 var(--spacer-48);
}

.changesWithPanel {
  margin-right: var(--spacer-16);
}
