.comment {
    display: flex;
    gap: var(--spacer-12);
    container-type: inline-size;
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-4);
    width: 100%;
    min-width: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--spacer-4) 0;
    gap: var(--spacer-8);
}

.metadata {
    display: flex;
    align-items: center;
    gap: var(--spacer-8);
}

.username {
    font-weight: 450;
}

.date {
    font-size: 0.75rem;
    color: var(--text-tertiary);
}

@container (max-width: 300px) {
    .metadata {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacer-4);
    }
}
