.headerButton {
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-primary);
  white-space: nowrap;
  font-size: 0.9375rem;
}

.secondary {
  background: none;
  border: 1px solid var(--border-gray-secondary);
}

.primary {
  background-color: var(--color-success);
  border: none;
  color: var(--background-light);
}

.headerButton:disabled {
  background-color: var(--color-disabled);
}
