.headerButton {
    padding: 10px 16px;
    border-radius: 100px;
    cursor: pointer;
}

.secondary {
    background: none;
    border: 1px solid var(--border-gray-secondary);
}

.primary {
    background-color: var(--color-success);
    border: none;
    color: var(--background-light);
}