.fileDiffView {
    border: var(--border-normal-width) solid var(--border-gray);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-soft);
    overflow: clip;
    scroll-margin-top: calc(var(--file-diff-header-height) * 1.6);
}

.fileDiffView:target {
    outline: var(--border-thick-width) solid var(--color-interactive);
}

.isHighlighting {
    user-select: none;
}

.collapsed {
    display: none;
}
