.fileDiffView {
    border: var(--border-thin-width) solid var(--border-gray);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.isHighlighting {
    user-select: none;
}
