.thread {
    border: var(--border-normal-width) solid var(--border-gray);
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow-soft);
    font-size: var(--font-size-diff-code);
}

.comment {
    padding: var(--spacer-12);
}
