.fileDiffHeader {
    display: flex;
    align-items: center;
    gap: var(--spacer-4);
    padding: var(--spacer-10);
    font-size: var(--font-size-label);
    font-weight: 450;
}

.chevron {
    border-radius: var(--border-radius);
    cursor: pointer;
}

.chevron:hover {
    background-color: var(--icon-hover-gray);
}

.filename {
    padding-bottom: var(--spacer-2);
}
