.fileDiffHeader {
    position: sticky;
    top: var(--page-header-height);
    z-index: 10;
    height: var(--file-diff-header-height);

    display: flex;
    align-items: center;
    gap: var(--spacer-8);

    padding: var(--spacer-10) var(--spacer-12);
    border-bottom: var(--border-normal-width) solid var(--border-gray);

    background-color: var(--background-light);
    font-size: var(--font-size-label);
    font-weight: 450;
}

.chevron {
    border-radius: var(--border-radius);
    cursor: pointer;
}

.chevron:hover {
    background-color: var(--icon-hover-gray);
}

.collapsed {
    border-color: transparent;
}

/* Docs: https://stackoverflow.com/a/71864029 */
.path {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: rtl;
    text-align: left;
    max-width: 950px;
}

.pathText {
    unicode-bidi: bidi-override;
    direction: ltr;
}

.lineNumbers {
    display: flex;
    gap: var(--spacer-6);
    font-size: var(--font-size-diff-code);
}

.additions {
    color: var(--color-success);
}

.deletions {
    color: var(--color-failure);
}
