.fileDiffHeader {
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;
    gap: var(--spacer-8);

    padding: var(--spacer-10) var(--spacer-12);
    border-bottom: var(--border-thin-width) solid var(--border-gray);

    background-color: var(--background-light);
    font-size: var(--font-size-label);
    font-weight: 450;
}

.chevron {
    border-radius: var(--border-radius);
    cursor: pointer;
}

.chevron:hover {
    background-color: var(--icon-hover-gray);
}

.filename {
    padding-bottom: var(--spacer-2);
}
