.navbar {
    position: sticky;
    top: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: var(--spacer-10);
    border-right: var(--border-normal-width) solid var(--border-gray);
    background-color: var(--background-secondary-light);
}

.group {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-12);
}

.signOutButton {
    display: flex;
    border: none;
    cursor: pointer;
}
